/* *{
    margin: 0;
    padding: 0;
} */

/* h1{
    text-align: center;
    padding: 0.5rem;
    background-color: yellow;
} */

:root{ /* entramos a la ruta principal con root y creamos las variables */
    --main-font:sans-serif;
    --font-size:16px;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

/* creamos un reseteo basico para etiqueta html */
html{
    box-sizing: border-box; /*box-sizing: tamaño de la caja a border-box */
    font-family: var(--main-color);
    font-size: var(--font-size);
    scroll-behavior: smooth;/*esa navegacion, para dar efecto de transision no subita a la hora de que vamos de una seccion a otra */
}

/* todo los elementos de este doc. html hereden el box-sizing, con esto se crea un especie de caja */
*, /*El asterisco (*) es el selector universal en CSS. De forma automática, el asterisco selecciona todos los elementos en un documento*/
*:before, /*con before y after le decimos que herede un documento antes y depues del asterisco(*) */
*:after{
    box-sizing: inherit; /*inherit, es heredar forzadamente */
}


body{/* reseteamos el body con margin cero ya que por defecto tiene 8px */
    margin: 0;
    overflow-x: hidden; /* para que todo que se desborde en horizontal se oculte y  no nos genere barra de desplazamiento */
}

img{
    max-width: 100%;
    height: auto;
}

.header{
    /* position: fixed; */ /*nos da una posicion fija y encima de todo los elementos de dicho elemento que se aplico fixed*/
    position: sticky; /* cuando el header llegue a la posicion de cero al margen de top, se va comportar como si estuviera fija */
    top: 0; /* el top cero debe ir con posicion de stycky */
    padding: 0.5rem; /*padding para los 4 lados*/
    background-color: var(--main-color);
    color: var(--second-color); /* color a la letra */
}

.header h1{ /* reseteamos los estilos del h1 que esta dentro de header */
    margin: 0 ; /*margin cero arriba y abajo y automatico a los lados y centrea el texto*/
    text-align: center;
}
.section{
    padding: 2rem; /*paddin a los lados*/
    padding-top: 4rem; /*correjimos a 4rem*/
    margin-left: auto; /*margin left y rigth auto para que al dar maxima anchura(pantallas a mas de 1200)*/
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width); /*1200px*/
    min-height: 100vh; /*minima altura, hace que cada seccion, aunque el contenido sea mas pequeño ocupe el tamaño del view port*/
    text-align: center;
}
/*************************** inicio esilos para menu hamburgesa ****************************/
.panel-btn{
    position: fixed;/*nos da una posicion fija y encima de todo los etiquetas html, y va posicionarse posicionarse a 1vh y 1vw, con esto se va colocar en la esquina derecha*/
    z-index: 999; /*cambiamos la posicion por defecto que static, ya que lo cambies a relative,stiky, puedes jugar con el nivel de profundidad que nos da z-index, con "999" se logra que el boton este por encima de todo los elementos*/ 
    /*z-index:indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor*/
    bottom: 1vh; /*vh es la unidad de altura de la ventana gráfica representa un porcentaje de la altura de la ventana gráfica. */
    right: 1vw; /* vw es la unidad de ancho de la ventana gráfica representa un porcentaje del ancho de la ventana gráfica. */
    width: 4rem;/* anchura y altura en 4rem=4*16px, es el tamaño del boton*/
    height: 4rem;
    border-radius: 50%; /*redondo el boton*/
    padding: 0%; /*quito padding*/
    display: flex; /*para empiece desde el margen inicial sobre el eje principal, contraerse    ...*/
    justify-content: center; /*ajusta el contenido centro de esas 3 lineas del boton*/
    align-items: center;/*alinea los items de las tres lineas del boton*/
    background-color: var(--main-color);
}

.panel{
    position: fixed;
    z-index: 998;/*este contenido este sobre todo los elementos del html a excepcion de .panel-btn*/
    background-color: var(--second-modal-color);
    width: 100%;
    top: 0; /*hacer alinear a top(alto-desde comienzo) cero y bottom(alto-hasta el final) cero, el top y boton es para estirar el elemento en toda las direcciones y que ocupe toda la ventana algo asi*/
    bottom: 0;
    /*hacemos lo mismo de estirar el ancho ya que el alto estiramos con top y bottom: */
    left: 0;
    right: 0;/*con to,bottom, left, rigth, hacemos que tenga una anchura del 100% y altura del 100%*/
    
    transform: translate(0, 100%); /*si quieres que el menu salga de arriba decimos cero para q "X" no se mueva, pero en "Y", que se mueva a -100%, no desaparecio el menu sino que esta arriba por eso no se ve, como quieras que se mueva de x e y con transform*/
}

.panel.is-active{ /*creamos una clase para que, para agregar o quitar*/

}

/*************************** fin esilos para menu hamburgesa ****************************/
.menu{
    width: inherit; /*este clase menu herede la anchura de su contenedor()*/
    display: flex; /*display flex direccion columna(flex-direction: column)*/
    flex-direction: column;
    justify-content: space-evenly;/*espaciado proporcional entre los espacios de los elementos y las orillas y trabaja en columna*/
    align-items: center;/*justify-content, trabaja en horizontal"x" */
    text-align: center;/*alinear las letras*/
}
.menu a{
    padding: 2rem;
    width: inherit;/*este clase menu herede la anchura de su contenedor()*/
    display: block; /*vuelvo elementos de bloque*/
    font-size: 1.5rem;
    text-decoration: none;/*quito decoracion de enlaces , etiqueta a*/
    color: var(--main-color);
    transition: all 0.3s ease; /* aplicamos transicion de 0.3 segundos*/
}
.menu a:hover{ /*al tocar el maus estos enlaces la letra cambia de estilos con hover*/
    font-weight: bold; /*letra negrita*/
    color: var(--second-color); /*color de la letra negra*/
    background-color: var(--main-modal-color);/*color de fondo amarillo un poco bajo*/
}
