
html{
    box-sizing: border-box; /*box-sizing: dentro del html crea caja de etiqueta, border-box: el borde va ser en forma de caja, encajando dentro del html*/
    font-family: sans-serif;
    font-size: 16px;
    /* background-color: black;*/
}

*,
*:before,
*:after{ /* a todo:* los elemento generados antes:after y despues:before*/
    box-sizing: inherit;/* aplique un box-sizing, heredado con inherit */
}

body{
    margin: 0;
    min-height: 100vh;/*minima(100% view port) altura, hace que cada seccion, aunque el contenido sea mas pequeño ocupe el tamaño del view port*/
    display: flex; /*para empiece desde el margen inicial sobre el eje principal, contraerse los elementos   ...*/
    flex-direction: column; /* los elementos se apilan en una sola columna uno debajo del otro, ya q el body tiene a header,main y footer */
}

img{ /* q las imgs sean responsivas y el max de 100% y  una altura automatica */
    max-width: 100%;
    height: auto;
}

main{
    flex-grow: 1; /* felx-grow: ocupa el 100% de pantalla y cuando es 1, esta repartiendo el espacio del main haciendo que el footer se vaya abajo parte pie del pagina*/
}
.container{ /* para que sea responsive y el contenido se vaya centrando */
    margin-left: auto;
    margin-right: auto;
    max-width: 992px; /* la maxima anchura para todo que tenga clase container */
    border: 1px solid red ;
}
.header{ /* damos color y paddin a la cabecera, aplica para etiqueta header, main, footer */
    padding: 5rem;
    background-color: antiquewhite;
}

.header-content{
    display: flex;
    justify-content: space-between; /*propiedad de alineacion justify-content: ajustar el contenido, damos valor de space-betwen:como dentro de esta clase hay dos elementos, se reparten dejando espacio en el medio, el 1mer elemento va a la izquiera y el otro va derecha */
    align-items: center; /* coloca los items en centro del eje vertical y horizontal */
}

.logo img{
    width: 4rem;
    height: auto; /* para q no se deforme la img */
}

.menu {
    display: flex;
    justify-content: space-between;
    font-size: 115%;
}

.menu a{
    color: chocolate;
    padding: 0 1vw; /*0:arriba y abajo, 1:separacion de izquierda y derecha*/
    text-decoration: none;
    transition: all .3s ease-in-out; /* para q en el estado hover se vea un pequeño efecto de animacion */
}

.menu a:hover{
    opacity: .75; /* para q al dar click en menu se pone medio amarillento */
}

