html{
    box-sizing: border-box; /*box-sizing: dentro del html crea caja de etiqueta, border-box: el borde va ser en forma de caja, encajando dentro del html*/
    font-family: sans-serif;
    font-size: 16px;
    background-color: antiquewhite;
}

*,
*:before,
*:after{ /* a todo:* los elemento generados antes:after y despues:before*/
    box-sizing: inherit;/* aplique un box-sizing, heredado con inherit */
}

main{
    display: flex;
    flex-direction: column; /* el flex box en columna se van contraer los elementos */
    justify-content: center;/* con estos 3 alineamos en el centro el input */
    align-items: center;
    text-align: center;
    min-height: 100vh; /*minima altura de 100 view por heigth, */
}

progress{
    margin-top: 1rem;
}